/* Add this at the top of your globals.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-gray-900 bg-gray-100;
  @apply min-h-screen;

}

body {
  @apply font-inter;
  @apply overflow-y-auto;

}



/* Layout base */
.bg-gray-100 {
  @apply text-gray-900;
}

/* Header */
.header {
  @apply bg-white py-4 px-6 fixed w-full z-10 top-0 shadow-md;
}

.nav-link {
  @apply text-gray-700 hover:text-black px-3 py-2 rounded-md text-sm font-medium;
}

/* Main content */
.main-content {
  @apply py-10 mt-16; /* Adjust top margin to header's height */
  @apply pt-16; /* Height of your header */
  /* Subtract header and footer height from 100vh */
  min-height: calc(100vh - 10rem - 3rem);
  /* Ensure there is no overflow that might cause scrolling */
  overflow-y: auto;
  /* Other styles remain the same */
  padding-top: 4rem; /* Height of your header, adjust if needed */

}

/* Footer */
.footer {
  @apply bg-gray-200 py-4 px-6 w-full;
}

/* Cards */
.card {
  @apply bg-white rounded-lg shadow-md overflow-hidden p-5 m-2;
}

.card-title {
  @apply text-lg font-bold text-black mb-2;
}

.card-content {
  @apply text-gray-700 text-sm;
}

/* Buttons */
.btn-primary {
  @apply bg-black text-white font-bold py-2 px-4 rounded hover:bg-gray-900;
}

.btn-secondary {
  @apply bg-gray-700 text-white font-bold py-2 px-4 rounded hover:bg-gray-800;
}

/* Forms */
/* Forms */
.form-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:ring-gray-300;
}






/* Responsive design */
@media (min-width: 768px) {
  .lg\:p-4 {
    @apply p-4;
  }
}


/* Header */
.header {
  @apply bg-white py-4 px-6 fixed w-full z-10 top-0 shadow-md flex justify-between items-center;
}

.nav-link {
  @apply text-gray-700 hover:text-black mx-2 py-2 rounded-md text-sm font-medium;
}

.logo a, .user-actions a {
  @apply text-black no-underline;
}

/* You may need to adjust the margin and padding to fit your design */

.error-message {
  color: red;
  font-size: 0.875em;
}
.striped-progress-bar {
  width: 100%;
  height: 1rem; /* Same as h-4 in Tailwind */
  background-color: #1f2937; /* gray-800 in Tailwind for a dark bar */
  border-radius: 9999px; /* rounded-full in Tailwind */
  background-image: linear-gradient(
          45deg,
          rgba(59, 130, 246, 0.6) 25%, /* blue-500 at 60% opacity for stripes */
          transparent 25%,
          transparent 50%,
          rgba(59, 130, 246, 0.6) 50%,
          rgba(59, 130, 246, 0.6) 75%,
          transparent 75%,
          transparent
  );
  background-size: 1rem 1rem;
  animation: moving-stripes 0.5s linear infinite;
}

@keyframes moving-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1rem 0;
  }
}
/* Tailwind CSS classes for form inputs, error messages, and buttons */
.form-input {
  @apply mb-4 p-2 border border-gray-300 rounded-md shadow-sm;
}



.btn-primary {
  @apply bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 disabled:opacity-50 disabled:cursor-not-allowed;
}
.active-classold {
  color: #4A90E2; /* A shade of blue that stands out yet fits with the overall design */
  font-weight: bold; /* Makes the text slightly heavier to catch attention */
  text-decoration: underline; /* Underlines the active link for additional emphasis */
  padding-bottom: 2px; /* Ensures the underline does not look too detached */
  border-bottom: 3px solid #4A90E2; /* A solid bottom border for a stronger visual indicator */
}

.active-class {
  color: #ffffff; /* Choose a light color that will stand out on a darker background */
  background-color: #3273dc; /* A vibrant, yet not too aggressive, shade of blue */
  font-weight: 600; /* Slightly bolder than normal but not as heavy as bold */
  padding: 10px 15px; /* Adequate padding to make the active link look like a clickable button */
  border-radius: 5px; /* Softly rounded corners for a modern, button-like appearance */
  box-shadow: 0 2px 3px rgba(0,0,0,0.1); /* A subtle shadow for depth, ensuring the active link 'pops' a bit */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.nav-link:hover:not(.active-class) {
  background-color: #f5f5f5; /* A very light grey for hover, won't activate for the current active link */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}